aiofiles
aiogram
aiohttp
aiosignal
annotated-types
attrs
blinker
certifi
charset-normalizer
click
colorama
Flask
frozenlist
idna
itsdangerous
Jinja2
magic-filter
MarkupSafe
multidict
numpy
pandas
pip
pydantic
pydantic_core
pyTelegramBotAPI
python-dateutil
pytz
requests
six
typing_extensions
tzdata
urllib3
Werkzeug
yarl
psycopg2-binary
gunicorn